body {	
	background-color: #000d00;
	/* color: ; */
}

h1 {
	color: #ffff99;
}

h2 {
	color: #a8a865;
}

h5 {
	color: #545432;
}

#content {
	background-color: #000a00; /* #001100; #00000d;*/
}

#footer-links {
	/* background-color: #0d0000; */
}
